@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-royalblue: #0964cf;
  --color-dimgray: #525252;

  /* Border radiuses */
  --br-7xs: 6px;
}
